/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li, button {
  margin: 0;
  padding: 0;
  border: none; /* Remove default button borders */
}

/* Set a background color for the body */
body {
  font-family: Arial, sans-serif;
  background-color: #707070;
}

/* Style the header */
header {
  background-image: url('https://github.com/lucolvin/lukecolvin.com/blob/main/Stars.jpg'); /* Add the URL of the online image */
  background-size: cover; /* Ensure the image covers the entire header */
  background-position: center; /* Center the image within the header */
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: background-position 0.5s, box-shadow 0.3s; /* Extend the transition duration */
  font-style: italic;
}

/* Add a more noticeable hover effect to the header */
header:hover {
  background-position: right top; /* Move the background image to the top-right on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Add a subtle glow effect on hover */
}

/* Style the header text */
h1 {
  font-size: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #707070; /* Set the initial color of the header text to blue */
  background-clip: text; /* Set the background-clip to text for gradient coloring */
  background-image: linear-gradient(to right, #707070, #eaaa00); /* Gradient from blue to gold */
  /* Add a smooth transition to morph the color on hover */
  transition: color .6s ease;
  display: inline-block;
  padding: 25px 100px;
}

/* Add a morphing color effect to the header text on hover */
h1:hover {
  color: #eaaa00; /* Change the header text color to gold on hover */
}

/* Style the navigation menu */
nav {
  background-color: #13274F; /* Atlanta Braves navy blue */
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px; /* Increased spacing between navigation items */
}

nav ul li a {
  color: #eaaa00;
  text-decoration: none;
}

nav ul li a, nav ul li button {
  padding: 8px 15px; /* Add padding to make buttons more clickable */
  background-color: #CE1141; /* Atlanta Braves scarlet red */
  border-radius: 5px; /* Add rounded corners to buttons */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  cursor: pointer; /* Change cursor to a pointer on hover */
}

nav ul li a:hover, nav ul li button:hover {
  background-color: #A6192E; /* Slightly darker shade of scarlet red on hover */
}

/* Style the main content sections */
main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

/* Style the footer */
footer {
  background-color: #002F5F; /* Atlanta Braves navy blue */
  color: #eaaa00;
  text-align: center;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Optionally, set height and width to your requirements */
  height: 50vh; /* 100% viewport height */
}

/* Custom button styles */
.button {
  display: inline-block;
  padding: 8px 15px;
  background-color: #CE1141; /* Atlanta Braves scarlet red */
  color: #eaaa00;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer; /* Change cursor to a pointer on hover */
}

.button:hover {
  background-color: #A6192E; /* Slightly darker shade of scarlet red on hover */
  transform: translateY(-2px); /* Move the button up slightly on hover */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
}

/* Style HTML buttons */
button {
  background-color: #002F5F; /* Atlanta Braves navy blue */
  color: #eaaa00;
  padding: 25px 50px;
  border-radius: 5px;
  cursor: pointer; /* Change cursor to a pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
  background-color: #002852; /* Slightly darker shade of navy blue on hover */
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.button-container {
  display: flex; /* Use "inline-flex" if you want the buttons to be inline but respect their width */
  gap: 50px; /* Add some spacing between the buttons */
}
